@{
    ViewBag.Title = "Выполнение теста";
}

<br />
<br />
<br />
<div class="panel panel-primary" ng-controller="testDoController">
    <div class="panel-body" ng-init="initialLoad(@ViewBag.Id,'@ViewBag.Guid')">
        1
    </div>
</div>

