@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <table class="table">
        @foreach (var test in ViewBag.Tests)
        {
            <tr>
                <td class="col-sm-7">@test.Title</td>
                @*<td class="col-sm-2">@test.User.UserName</td>*@
                <td class="col-sm-3">
                    <a href="~/Test/Start?id=@test.Id">Пройти тест</a>
                </td>
            </tr>
        }
    </table>
    @*<label>Начатые тесты:</label>
    <table class="table">
        @foreach (var test in ViewBag.RunTests)
        {
            <tr>
                <td class="col-sm-7">@test.Title</td>
                <td class="col-sm-2">@test.User.UserName</td>
                <td class="col-sm-3">
                    <a href="~/Test/Start?id=@test.Id">Пройти тест</a>
                </td>
            </tr>
        }
    </table>*@

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Создание тестов</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="~/Test/Create">Создать &raquo;</a></p>
    </div>
</div>